html {
    scroll-behavior: smooth;
}

body {    
    background-color: #FFEBB7;
}

.nav-color {
    background-color: #3c3c3cfa;    
}

.navbar-toggler-icon {    
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(175, 175, 175)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-brand {
    font-family: 'Elsie Swash Caps', cursive;
    color: #FFEBB7;
    font-size: 32px;
    text-shadow: #000000 2px 3px;
}

.navbar-brand:hover {
    color: #FFEBB7;
}

.nav-link {
    color: #FFEBB7;
    font-weight: bold;
    font-size: 16px;
    margin-left: 30px;
    text-shadow: #000000 2px 2px;
}

.nav-link:hover {
    color: white;    
}

.button {
    padding: 5px;
    background-color: #AD8E70;
    border-radius: 10px;
    text-shadow: none;
    color: white;

}

.jumbotron-fluid {
    background:
        linear-gradient(rgba(0, 0, 0, 0.463),
            rgba(34, 44, 44, 0.45)),
        url(../images/kopi.jpg) fixed;
    background-size: cover;
    height: 700px;
}

.jumbotron h1 {
    font-family: 'Elsie Swash Caps', cursive;
        font-family: 'Finger Paint', cursive;
    color: #FFEBB7;
    padding-top: 100px;
    margin-bottom: 80px;
}

.jumbotron a {
    font-family: 'Elsie Swash Caps', cursive;
        font-family: 'Finger Paint', cursive;
    color: white;
    font-size: 25px;
    font-weight: bold;
}

.panel {
    margin: auto;
    padding: 15px 0px;
    margin-top: -100px;
    background: #FFFFFF;
        box-shadow: 0px 2px 30px 13px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
}

.panel img {
    width: 25%;
    
}

.panel p {
    color: #FF6E31;
    font-weight: 700;
}

section {
    padding: 100px;
}

.display-4 {
    font-family: 'Ubuntu Mono', monospace;
    font-weight: bold;
}

hr {
    width: 50px;
    border: 8px solid #FF6E31;
    margin-top: -5px;
    margin-bottom: 30px;
}

.card {
    margin: auto;
    width: 20rem;
    height: 25rem;
    background-size: cover;
    border-radius: 10px;
    box-shadow: 2px 3px 5px gray;
}

.card:hover {
    zoom: 95%;
    transition: 5s;
}

.card h3 {
    border-radius: 10px;
    color: #FFEBB7;
    font-weight: bold;
    padding: 20px;
    padding-bottom: 100px;
    text-align: left;
    background: linear-gradient(#000000, #ffffff00);
}

.card h4 {
    color: wheat;
    font-weight: bold;
    padding-top: 100px;
}

.background {    
    margin: 0 auto;
    width: 65%;
    padding: 50px 0px;
    background-color: #AD8E70;
    border-radius: 10px;
    border: 5px solid #5B5B5B
}

.contact-link {
    font-family: 'Elsie Swash Caps', cursive;
        font-family: 'Finger Paint', cursive;
    font-weight: bold;
    font-size: 30px;
    margin-left: 15px;
    color: #AD8E70;
    text-shadow: white 3px 3px;
}

input, select, textarea {
    outline:1px solid #3C3C3C;
}

footer {    
    margin-top: 100px;
    padding: 50px;
    background-color: #3C3C3C;
    color: #AD8E70;

}

footer h3 {
    font-family: 'Elsie Swash Caps', cursive;
}

footer p {
    border-left: #AD8E70 3px solid;
    padding-left: 10px;
    font-size: 16px;
}

footer a {
    font-weight: bold;
    color: #AD8E70;
    font-size: 18px;
}


@media (max-width: 991.98px) {
    nav {
        background-color: #3c3c3cfa;
    }

    .button {
        text-align: center;
    }

    .jumbotron-fluid {
        background-position: top;
    }
    .jumbotron h1 {
        font-size: 40px;
    }

    .panel {
        width: 90%;
    }

    .card {
        margin-bottom: 20px;
    }

    .section-title {
        font-size: 40px;
    }

    hr {
        width: 30px;
        border: 4px solid #FF6E31;
    }

    .background {        
        width: 90%;
    }

    .profile-contact{
        display: block;
        margin: auto;
        width: 70%;
        height: 70%;
    }

    .social-media a {
        font-size: 16px;
    }

    #order img {
        width: 50%;
    }
}



























